{%- if mapdata.socket -%}
  {%- do mapdata.config.update({
        "unixsocket": mapdata.lookup.socket.path,
        "unixsocketperm": mapdata.lookup.socket.perms
    })
  -%}
{%- endif -%}

{%- do mapdata.update({"_aclfile": salt["file.dirname"](mapdata.lookup.config[mapdata.variant]) | path_join(mapdata.lookup.aclfile)}) %}
{%- if mapdata.users %}
  {%- do mapdata.config.update({"aclfile": mapdata._aclfile}) %}
{%- endif %}
